.container {
  max-width: 36rem;
  margin: 0pt auto;
  padding: 1rem;
  line-height: 1.5rem;
  background-color: #272822;
  border-radius: 1rem;
}

.center {
  text-align: center;
}

.headline {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 500;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}

.subhead {
  font-size: 0.925rem;
  opacity: 0.75;
}

.lead {
  font-size: 1.25rem;
  color: #66d9ef;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.listhead {
  color: #fd971f;
}

.listContainer > li {
  list-style-type: circle;
}

.listContainer > li > a {
  color: rgba(255, 255, 255, 0.9);
  opacity: 0.8;
  text-decoration: none;
}

.listContainer > li > a:hover {
  color: #a6e22e;
  text-decoration: none;
}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  padding: 0;
}

.horizontal > li {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
  margin: 0 0.875rem;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 1.75rem;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@media only screen and (max-width: 600px) {
  .headline {
    font-size: 2rem;
    line-height: 2rem;
  }
  .container {
    max-width: 90%;
    background-color: black;
  }
  .lead {
    color: #f92672;
  }
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgba(255, 255, 255, 0.8);
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgba(255, 255, 255, 0.8);
  }
}

@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgba(255, 255, 255, 0.8);
  }
}

@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgba(255, 255, 255, 0.8);
  }
}

@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgba(255, 255, 255, 0.8);
  }
}
